In [323]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
my = pd.read_csv('maoyanfilms_clean.csv')

In [324]:
my = my.drop(['Unnamed: 0','films_id','films_name','films_comment_num','films_director','films_actor','films_introduction','films_comment'],axis=1)

In [325]:
my

,films_type,films_area,films_duration,film_first_time,films_score,films_box_office
0,"喜剧 , 爱情",中国大陆,122分钟,2010-12-22,7.4,47200.0
1,爱情,中国香港,117分钟,2009-01-26,6.1,11299.0
2,"爱情 , 剧情","中国台湾,中国大陆",128分钟,2012-02-14,7.8,13700.0
3,爱情,"中国大陆,中国香港",112分钟,2012-02-09,7.1,2137.0
4,"爱情 , 音乐 , 奇幻","中国香港,中国台湾",101分钟,2007-07-31,8.5,33.0
...,...,...,...,...,...,...
15425,NaN,中国香港,13分钟,2015-12,NaN,NaN
15426,"剧情 , 短片",中国大陆,20分钟,2019-06-25,NaN,NaN
15427,"纪录片 , 短片",中国大陆,4分钟,2016,NaN,NaN
15428,喜剧,中国香港,125分钟,2012-10-11,NaN,NaN
15429,纪录片,中国台湾,61分钟,2018-10-25,NaN,NaN

In [326]:
my.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15430 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13584 non-null  object
 1   films_area        15430 non-null  object
 2   films_duration    15430 non-null  object
 3   film_first_time   15427 non-null  object
 4   films_score       2520 non-null   float64
 5   films_box_office  1501 non-null   float64
dtypes: float64(2), object(4)
memory usage: 723.4+ KB

## 电影类型的缺失值不好填充，删掉电影类型为空的行

In [327]:
my=my.dropna(subset=['films_type'])

In [328]:
my.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13584 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13584 non-null  object
 1   films_area        13584 non-null  object
 2   films_duration    13584 non-null  object
 3   film_first_time   13581 non-null  object
 4   films_score       2510 non-null   float64
 5   films_box_office  1501 non-null   float64
dtypes: float64(2), object(4)
memory usage: 742.9+ KB

In [329]:
my

,films_type,films_area,films_duration,film_first_time,films_score,films_box_office
0,"喜剧 , 爱情",中国大陆,122分钟,2010-12-22,7.4,47200.0
1,爱情,中国香港,117分钟,2009-01-26,6.1,11299.0
2,"爱情 , 剧情","中国台湾,中国大陆",128分钟,2012-02-14,7.8,13700.0
3,爱情,"中国大陆,中国香港",112分钟,2012-02-09,7.1,2137.0
4,"爱情 , 音乐 , 奇幻","中国香港,中国台湾",101分钟,2007-07-31,8.5,33.0
...,...,...,...,...,...,...
15423,短片,中国香港,30分钟,2018-05-17,NaN,NaN
15426,"剧情 , 短片",中国大陆,20分钟,2019-06-25,NaN,NaN
15427,"纪录片 , 短片",中国大陆,4分钟,2016,NaN,NaN
15428,喜剧,中国香港,125分钟,2012-10-11,NaN,NaN
15429,纪录片,中国台湾,61分钟,2018-10-25,NaN,NaN

## 对类型、上映地区做处理

In [330]:
my['films_type'] = my['films_type'].apply(lambda x: x.split(',')[0])

In [331]:
def handle_area(x):
    area = ['中国大陆','中国香港','中国台湾'] 
    area_list = x.split(',')
    for a in area_list:
        if a in area:
            return a
        else:
            continue
my['films_area'] = my['films_area'].apply(handle_area)

In [332]:
my.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13584 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13584 non-null  object
 1   films_area        13544 non-null  object
 2   films_duration    13584 non-null  object
 3   film_first_time   13581 non-null  object
 4   films_score       2510 non-null   float64
 5   films_box_office  1501 non-null   float64
dtypes: float64(2), object(4)
memory usage: 742.9+ KB

In [333]:
my=my.dropna(subset=['films_area'])

In [334]:
my.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13544 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13544 non-null  object
 1   films_area        13544 non-null  object
 2   films_duration    13544 non-null  object
 3   film_first_time   13541 non-null  object
 4   films_score       2508 non-null   float64
 5   films_box_office  1500 non-null   float64
dtypes: float64(2), object(4)
memory usage: 740.7+ KB

In [335]:
my=my.dropna(subset=['film_first_time'])

In [336]:
my.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13541 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13541 non-null  object
 1   films_area        13541 non-null  object
 2   films_duration    13541 non-null  object
 3   film_first_time   13541 non-null  object
 4   films_score       2506 non-null   float64
 5   films_box_office  1500 non-null   float64
dtypes: float64(2), object(4)
memory usage: 740.5+ KB

### 其他特征的处理

In [337]:
my['films_duration'] = my['films_duration'].apply(lambda x: int(x[:-2]))

In [338]:
my['film_first_time'] = my['film_first_time'].apply(lambda x: int(x[0:4]))

In [339]:
my['films_score'] = my['films_score'].apply(lambda x: float(x))

In [340]:
my['films_box_office'] = my['films_box_office'].apply(lambda x: float(x))

In [341]:
my.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13541 entries, 0 to 15429
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   films_type        13541 non-null  object
 1   films_area        13541 non-null  object
 2   films_duration    13541 non-null  int64
 3   film_first_time   13541 non-null  int64
 4   films_score       2506 non-null   float64
 5   films_box_office  1500 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 740.5+ KB

### 提取特征 独热编码

In [342]:
f_type = pd.get_dummies(my['films_type'])

In [343]:
f_type.head(3)

,,Sci-Fi,亲情,传记,儿童,公益,公益性,公路喜剧,冒险,军旅,...,警匪,记录片,运动,都市,青春,青春 励志 爱情,青春励志,音乐,魔幻,黑色电影
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [344]:
f_area = pd.get_dummies(my['films_area'])

In [345]:
f_area.head(3)

   中国台湾  中国大陆  中国香港
0     0     1     0
1     0     0     1
2     1     0     0

In [346]:
my = my.join(f_type)
my = my.join(f_area)

In [347]:
my.head(5)

,films_type,films_area,films_duration,film_first_time,films_score,films_box_office,,Sci-Fi,亲情,传记,...,都市,青春,青春 励志 爱情,青春励志,音乐,魔幻,黑色电影,中国台湾,中国大陆,中国香港
0,喜剧,中国大陆,122,2010,7.4,47200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,爱情,中国香港,117,2009,6.1,11299.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,爱情,中国台湾,128,2012,7.8,13700.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,爱情,中国大陆,112,2012,7.1,2137.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,爱情,中国香港,101,2007,8.5,33.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [348]:
my = my.drop(['films_type','films_area'],axis=1)

## 缺失值填充 中位数

In [349]:
# 中位数
f_score_median = my['films_score'].median()
f_office_median = my['films_box_office'].median()
my['films_score'] =my['films_score'].fillna(f_score_median)
my['films_box_office'] = my['films_box_office'].fillna(f_office_median)

### 特征选择

In [362]:
data = my.loc[:,my.columns != 'films_box_office'].values
label = my.loc[:,my.columns == 'films_box_office'].values

In [363]:
np.set_printoptions(suppress=True)
data

array([[ 122. , 2010. ,    7.4, ...,    0. ,    1. ,    0. ],
       [ 117. , 2009. ,    6.1, ...,    0. ,    0. ,    1. ],
       [ 128. , 2012. ,    7.8, ...,    1. ,    0. ,    0. ],
       ...,
       [   4. , 2016. ,    6.9, ...,    0. ,    1. ,    0. ],
       [ 125. , 2012. ,    6.9, ...,    0. ,    0. ,    1. ],
       [  61. , 2018. ,    6.9, ...,    1. ,    0. ,    0. ]])

In [366]:
label = label.flatten()
label

array([47200. , 11299. , 13700. , ...,   315.5,   315.5,   315.5])

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

#递归特征消除法，返回特征选择后的数据
#参数estimator为基模型
#参数n_features_to_select为选择的特征个数
featureArr = RFE(estimator=LogisticRegression(), n_features_to_select=12).fit_transform(data, label.astype('int'))
print(featureArr)